html {
  background: black;
}
ol {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  color: black;
  max-width: 120rem;
  margin: 1rem auto;
  padding: 0 1rem;
  counter-reset: my-awesome-counter;
  list-style: none;
}
@media (min-width: 80rem) { /* 4x6 */
  ol {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 120rem) { /* 6x4 */
  ol {
    grid-template-columns: repeat(6, 1fr);
  }
}
li {
  padding: 1rem;
  border: 1px solid #69329a;
  background: #F5F5F5;
  counter-increment: my-awesome-counter;
  position: relative;
  min-height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
li::before {
  --size: 2rem;
  content: counter(my-awesome-counter);
  position: absolute;
  color: white;
  font-size: calc(var(--size) * .75);
  font-weight: bold;
  right: calc(var(--size) * .25);
  top: calc(var(--size) * .25);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  padding: calc(var(--size) * .2);
  transform: rotate(-10deg);
  background: #6b14b8;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}


h1 {
  font-size: 3rem;
  text-align: center;
  color: #a453ec;
  max-width: 120rem;
  padding: 0 1rem;
  margin: 0 auto;
}

h1 a:visited{
    color: #8b0000
}

h1 a {
  vertical-align: -1.5rem;
  margin-right: 1rem;
}
li > p, li > a.ads {
  text-align: center;
}
a.ads {
  width: 100%;
  padding: 3rem 0;
}
li h2, li p:first-child {
  margin-top: 0;
}
li p:last-child {
  margin-bottom: 0;
}
li:nth-of-type(1) {
  order: 5;
}
li:nth-of-type(4) {
  order: 7;
}
li:nth-of-type(5) {
  order: 21;
}
li:nth-of-type(6) {
  order: 18;
}
li:nth-of-type(8) {
  order: 5;
}
li:nth-of-type(9) {
  order: 7;
}
li:nth-of-type(10) {
  order: 21;
}
li:nth-of-type(12) {
  order: 18;
}
li:nth-of-type(14) {
  order: 5;
}
li:nth-of-type(16) {
  order: 7;
}
li:nth-of-type(21) {
  order: 2;
}
li:nth-of-type(22) {
  order: 18;
}